.Wrapper-question-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/background.png) top left/auto repeat;
}



.question-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: min(100%, 500px);
    height: min(700px, 700px);
    background: url(../img/notebook.png) center center/100% auto no-repeat;

    font-family: "MaokenAssortedSans";

    .content {
        display: flex;
        justify-content: center;
        flex: 1;

        .index {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 80%;
            gap: 5px;

            .logo {
                padding: 0 30%;
            }

            .title {
                font-size: 44px;
                color: #706B67;
                text-align: center;
            }

            .sub-img {
                padding: 0 5%;
            }

            .btn-start {
                font-size: 40px;
                font-weight: bolder;
                color: #FCBB55;
                text-align: center;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                -webkit-text-stroke: 0.01px black;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .question-card {
        position: relative;
        width: min(100%, 100%);
        height: 100svh;
        background: url(../img/notebook.png) bottom center/140% 115% no-repeat;

        .backdrop {
            /* position: absolute;
            z-index: -1001; */
        }
    }
}