/* 圖片 */
img, .img-div {
    width: 100%;
    height: auto;
}

/* 星星 */
.star { 
    background: url(../img/icon_star_full_24x24.svg) top center/contain no-repeat;
    height: 24px;
    width: 24px;
}

.star-group {
    display: flex;
    flex-direction: row;
}

.sale-label {
    background-color: red;
    color: white;
    text-align: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    align-items: center;
    width: 15rem;
    padding: 20px;
    gap: 5px;
}